; vi: set ft=cfg
[global/wm]
; margin-bottom = 5
; margin-top = 0
include-file = $HOME/.config/polybar/modules.ini
include-file = $HOME/.config/polybar/colors.ini
include-file = $HOME/.config/polybar/system.ini

[bar/top]
bottom = false
enable-ipc = true
fixed-center = true
monitor = ${env:MONITOR:}

height = 40
line-size = 3
; radius = 10
width = 100%

{{- if eq .chezmoi.os "linux" }}
{{-   if eq .chezmoi.osRelease.id "arch" }}
{{-     if contains "desktop" (output "hostnamectl" "chassis") }}
font-0 = "DankMono Nerd Font Mono:weight=regular:size=15"
font-1 = "MesloLGL Nerd Font Mono:weight=regular:size=22"
font-2 = "MesloLGL Nerd Font Mono:weight=regular:size=19"
{{-     else if contains "laptop" (output "hostnamectl" "chassis") }}
font-0 = "DankMono Nerd Font Mono:weight=regular:size=11"
font-1 = "MesloLGL Nerd Font Mono:weight=regular:size=18"
font-2 = "MesloLGL Nerd Font Mono:weight=regular:size=15"
{{-    end }}
{{-  end }}
{{- end }}

background = ${colors.bg}
foreground = ${colors.fg}

wm-restack = i3

modules-left = menu cpu memory filesystem
modules-center = i3
modules-right = pulseaudio backlight network bluetooth battery date sysmenu

tray-position = none
; tray-background = ${colors.bg}
; tray-foreground = ${colors.fg}
; override-redirect = false
