#!/bin/sh
# bat theme hash: {{ include "dot_config/bat/themes/Kanagawa Dragon.tmTheme" | sha256sum }}
# bat theme hash: {{ include "dot_config/bat/themes/Kanagawa Lotus.tmTheme" | sha256sum }}
set -eu
bat cache --build
