#!/usr/bin/env zsh
# setting to zsh as fish is not installed yet

# Brewfile checksum: {{ include "Brewfile" | sha256sum }}
brew bundle --file {{ joinPath .chezmoi.sourceDir "Brewfile" | quote }} --no-lock
brew cleanup
