<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>semanticClass</key>
    <string>theme.ayu.{{ .slug }}</string>
    <key>settings</key>
    <array>
      <dict>
        <key>settings</key>
        <dict>
          <key>background</key>
          <string>{{ .p.bg0 }}</string>
          <key>selection</key>
          <string>{{ .p.bg3 }}</string>
          <key>gutterForeground</key>
          <string>{{ .p.grey0 }}</string>
          <key>caret</key>
          <string>{{ .p.fg }}</string>
          <key>selectionBorder</key>
          <string>{{ .p.bg2 }}</string>
          <key>invisibles</key>
          <string>{{ .p.bg2 }}</string>
          <key>foreground</key>
          <string>{{ .p.fg }}</string>
          <key>lineHighlight</key>
          <string>{{ .p.bg1 }}</string>
        </dict>
      </dict>
      <dict>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>{{ .p.yellow }}</string>
        </dict>
        <key>name</key>
        <string>Identifier</string>
        <key>scope</key>
        <string>variable, support.type.property-name.yaml, support.type.property-name.toml, support.type.property-name.table.toml, support.type.property-name.array.toml</string>
      </dict>
      <dict>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>{{ .p.purple }}</string>
        </dict>
        <key>name</key>
        <string>Number</string>
        <key>scope</key>
        <string>constant.numeric</string>
      </dict>
      <dict>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>{{ .p.orange }}</string>
        </dict>
        <key>name</key>
        <string>Statement</string>
        <key>scope</key>
        <string>keyword.control</string>
      </dict>
      <dict>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>{{ .p.blue }}</string>
        </dict>
        <key>name</key>
        <string>HtmlTag</string>
        <key>scope</key>
        <string>entity.name.tag, entity.name.tag.html, meta.tag.js, meta.tag.jsx, entity.name.tag.jsx</string>
      </dict>
      <dict>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>{{ .p.yellow }}</string>
        </dict>
        <key>name</key>
        <string>HtmlAttribute</string>
        <key>scope</key>
        <string>entity.other.attribute-name, entity.other.attribute-name.html, variable.other.attribute.jsx</string>
      </dict>
      <dict>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>{{ .p.grey0 }}</string>
        </dict>
        <key>name</key>
        <string>Comment</string>
        <key>scope</key>
        <string>comment, markup.quote</string>
      </dict>
      <dict>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>{{ .p.orange }}</string>
        </dict>
        <key>name</key>
        <string>Keyword</string>
        <key>scope</key>
        <string>keyword, storage</string>
      </dict>
      <dict>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>{{ .p.purple }}</string>
        </dict>
        <key>name</key>
        <string>Boolean</string>
        <key>scope</key>
        <string>constant.language.boolean</string>
      </dict>
      <dict>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>{{ .p.yellow }}</string>
        </dict>
        <key>name</key>
        <string>Function</string>
        <key>scope</key>
        <string>entity.name.function, meta.link.inline.description</string>
      </dict>
      <dict>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>{{ .p.yellow }}</string>
        </dict>
        <key>name</key>
        <string>Attribute</string>
        <key>scope</key>
        <string>entity.other.attribute-name</string>
      </dict>
      <dict>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>{{ .p.blue }}</string>
        </dict>
        <key>name</key>
        <string>Tag</string>
        <key>scope</key>
        <string>entity.name.tag</string>
      </dict>
      <dict>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>{{ .p.grey1 }}</string>
        </dict>
        <key>name</key>
        <string>Special</string>
        <key>scope</key>
        <string>markup.underline.link.markdown, markup.raw.code-fence</string>
      </dict>
      <dict>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>{{ .p.aqua }}</string>
        </dict>
        <key>name</key>
        <string>Type</string>
        <key>scope</key>
        <string>support.type, entity.name.type</string>
      </dict>
      <dict>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>{{ .p.purple }}</string>
        </dict>
        <key>name</key>
        <string>Constant</string>
        <key>scope</key>
        <string>constant, markup.bold, markup.italic, markup.raw.inline</string>
      </dict>
      <dict>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>{{ .p.green }}</string>
        </dict>
        <key>name</key>
        <string>String</string>
        <key>scope</key>
        <string>string, meta.structure.dictionary.value.json string.quoted.double.json, source.yaml string.unquoted</string>
      </dict>
      <dict>
        <key>settings</key>
        <dict>
          <key>foreground</key>
          <string>{{ .p.red }}</string>
        </dict>
        <key>name</key>
        <string>Operator</string>
        <key>scope</key>
        <string>keyword.operator, markup.list, punctuation.definition.string.begin.json, punctuation.definition.string.end.json, punctuation.support.type.property-name.toml</string>
      </dict>
    </array>
    <key>uuid</key>
    <string>{{ .uuid }}</string>
    <key>colorSpaceName</key>
    <string>sRGB</string>
    <key>name</key>
    <string>{{ .name }}</string>
  </dict>
</plist>
