[colors]
table_header_color = "{{ .fg }}"
all_cpu_color = "{{ .fg }}"
avg_cpu_color = "{{ .red }}"
cpu_core_colors = [
  "{{ .red }}",
  "{{ .fg }}",
  "{{ .green }}",
  "{{ .blue }}",
  "{{ .bg0 }}",
  "{{ .bg3 }}",
]
ram_color = "{{ .green }}"
swap_color = "{{ .fg }}"
rx_color = "{{ .green }}"
tx_color = "{{ .red }}"
widget_title_color = "{{ .fg }}"
border_color = "{{ .bg2 }}"
highlighted_border_color = "{{ .blue }}"
text_color = "{{ .fg }}"
graph_color = "{{ .bg3 }}"
cursor_color = "{{ .blue }}"
selected_text_color = "{{ .bg0 }}"
selected_bg_color = "{{ .blue }}"
high_battery_color = "{{ .green }}"
medium_battery_color = "{{ .yellow }}"
low_battery_color = "{{ .red }}"
gpu_core_colors = [
  "{{ .blue }}",
  "{{ .fg }}",
  "{{ .red }}",
  "{{ .green }}",
  "{{ .bg0 }}",
  "{{ .bg3 }}",
]
arc_color = "{{ .blue }}"
