--color=bg+:{{ .bg2 }},bg:{{ .bg0 }},spinner:{{ .aqua }},hl:{{ .blue }}
--color=fg:{{ .fg }},header:{{ .blue }},info:{{ .aqua }},pointer:{{ .aqua }}
--color=marker:{{ .aqua }},fg+:{{ .fg }},prompt:{{ .green }},hl+:{{ .aqua }}
--color=selected-bg:{{ .bg2 }}
--color=border:{{ .blue }},label:{{ .fg }}
