[general]
background = "{{ .bg0 }}"
border = "{{ .bg2 }}"
horizontal_rule = "{{ .bg2 }}"
horizontal_rule_text = "{{ .grey0 }}"
scrollbar = "{{ .bg3 }}"
unread_indicator = "{{ .blue }}"
highlight_indicator = "{{ .orange }}"

[text]
primary = "{{ .fg }}"
secondary = "{{ .grey0 }}"
tertiary = "{{ .grey1 }}"
success = "{{ .green }}"
error = "{{ .red }}"
warning = "{{ .yellow }}"
info = "{{ .blue }}"
debug = "{{ .purple }}"
trace = "{{ .grey1 }}"

[buttons.primary]
background = "{{ .bg1 }}"
background_hover = "{{ .bg2 }}"
background_selected = "{{ .bg2 }}"
background_selected_hover = "{{ .bg3 }}"
border_active = "{{ .blue }}"

[buttons.secondary]
background = "{{ .bg1 }}"
background_hover = "{{ .bg2 }}"
background_selected = "{{ .bg3 }}"
background_selected_hover = "{{ .bg3 }}"
border_active = "{{ .blue }}"

[buffer]
action = "{{ .green }}"
background = "{{ .bg0 }}"
background_text_input = "{{ .bg1 }}"
background_title_bar = "{{ .bg_dim }}"
border = "{{ .bg2 }}"
border_selected = "{{ .bg3 }}"
code = "{{ .aqua }}"
highlight = "{{ .bg2 }}"
nickname = "{{ .fg }}"
nickname_offline = "{{ .grey1 }}"
selection = "{{ .bg2 }}"
# Takes effect in Halloy versions after 2026.8; ignored by 2026.8.
focus_border = "{{ .blue }}"
focus_background = "{{ .bg1 }}"
self_message = "{{ .grey1 }}"
timestamp = "{{ .grey0 }}"
topic = "{{ .purple }}"
url = "{{ .blue }}"
backlog_rule = "{{ .bg2 }}"
backlog_rule_text = "{{ .grey0 }}"
date_rule = "{{ .bg2 }}"
date_rule_text = "{{ .grey0 }}"

[buffer.server_messages]
default = "{{ .grey0 }}"

[formatting]
white = "{{ .fg }}"
black = "{{ .bg_dim }}"
blue = "{{ .blue }}"
green = "{{ .green }}"
red = "{{ .red }}"
brown = "{{ .orange }}"
magenta = "{{ .purple }}"
orange = "{{ .orange }}"
yellow = "{{ .yellow }}"
lightgreen = "{{ .green }}"
cyan = "{{ .aqua }}"
lightcyan = "{{ .aqua }}"
lightblue = "{{ .blue }}"
pink = "{{ .purple }}"
grey = "{{ .grey0 }}"
lightgrey = "{{ .grey1 }}"
