bg_dim: &bg_dim "{{ .bg_dim }}"
bg0: &bg0 "{{ .bg0 }}"
bg1: &bg1 "{{ .bg1 }}"
bg2: &bg2 "{{ .bg2 }}"
bg3: &bg3 "{{ .bg3 }}"

fg: &fg "{{ .fg }}"
red: &red "{{ .red }}"
orange: &orange "{{ .orange }}"
yellow: &yellow "{{ .yellow }}"
green: &green "{{ .green }}"
aqua: &aqua "{{ .aqua }}"
blue: &blue "{{ .blue }}"
purple: &purple "{{ .purple }}"
grey0: &grey0 "{{ .grey0 }}"
grey1: &grey1 "{{ .grey1 }}"

text: &text "{{ .fg }}"
base: &base "{{ .bg0 }}"
overlay: &overlay "{{ .bg1 }}"
muted: &muted "{{ .bg3 }}"
pink: &pink "{{ .purple }}"

k9s:
  body:
    fgColor: *text
    bgColor: *base
    logoColor: *green
  prompt:
    fgColor: *text
    bgColor: *base
    suggestColor: *green
    border:
      command: *orange
      default: *blue
  info:
    fgColor: *green
    sectionColor: *text
  dialog:
    fgColor: *text
    bgColor: *base
    buttonFgColor: *text
    buttonBgColor: *green
    buttonFocusFgColor: *yellow
    buttonFocusBgColor: *green
    labelFgColor: *yellow
    fieldFgColor: *text
  frame:
    border:
      fgColor: *overlay
      focusColor: *overlay
    menu:
      fgColor: *text
      keyColor: *green
      numKeyColor: *green
    crumbs:
      fgColor: *text
      bgColor: *overlay
      activeColor: *overlay
    status:
      newColor: *green
      modifyColor: *red
      addColor: *blue
      errorColor: *pink
      highlightcolor: *yellow
      killColor: *muted
      completedColor: *muted
    title:
      fgColor: *text
      bgColor: *overlay
      highlightColor: *yellow
      counterColor: *green
      filterColor: *green
  views:
    charts:
      bgColor: default
      defaultDialColors:
        - *green
        - *pink
      defaultChartColors:
        - *green
        - *pink
    table:
      fgColor: *text
      bgColor: *base
      header:
        fgColor: *text
        bgColor: *base
        sorterColor: *red
    xray:
      fgColor: *text
      bgColor: *base
      cursorColor: *overlay
      graphicColor: *green
      showIcons: false
    yaml:
      keyColor: *green
      colonColor: *green
      valueColor: *text
    logs:
      fgColor: *text
      bgColor: *base
      indicator:
        fgColor: *text
        bgColor: *base
