[palettes.ayu]
bg_dim = "{{ .bg_dim }}"
bg0 = "{{ .bg0 }}"
bg1 = "{{ .bg1 }}"
bg2 = "{{ .bg2 }}"
bg3 = "{{ .bg3 }}"
fg = "{{ .fg }}"
grey0 = "{{ .grey0 }}"
grey1 = "{{ .grey1 }}"
red = "{{ .red }}"
orange = "{{ .orange }}"
yellow = "{{ .yellow }}"
green = "{{ .green }}"
aqua = "{{ .aqua }}"
blue = "{{ .blue }}"
purple = "{{ .purple }}"
